$BLACK: #000;
$WHITE: #fff;

$WHITE-SMOKE: #f2f2f2;
$WHITE-GREY: #cccccc;
$WHITE-GREY: #fafafa;
$GHOST: #ced4da;

$BORDER_COLOR: #999999;
$STIEGLITZ-SILVER: #8e8e8e;
$SQUANT: #666666;

$WARNING: #842029;
$ROYAL-NAVY-BLUE: #3f51b5;
$TOMB-BLUE: #0099cc;
