@import "colors";

/* ==========================================================================
   1. Fonts size
   ========================================================================== */
$font-size-xsmall: .75rem !default; // 12px
$font-size-small: .875rem !default; // 14px
$font-size-normal: 1rem !default; // 16px
$font-size-medium: 1.125rem !default; // 18px
$font-size-large: 1.375rem !default; // 22px
$font-size-xlarge: 1.5rem !default; // 24px
/* ==========================================================================
   2. Fonts weight and style
   ========================================================================== */
$thin: 300;
$regular: 400;
$bold: 700;
/* ==========================================================================
   3. Border
   ========================================================================== */
$radius: 6px;
