<div class="search-page-container">
  <div class="search-page">
    <mat-radio-group id="searchType">
      <mat-radio-button *ngFor="let option of searchOptions"
                        (click)="selectSearchParam(option)"
                        [checked]="selectedOption === option.param"
                        [value]="option.param"
                        color="primary">
        <label>{{ option.name }}</label>
      </mat-radio-button>
    </mat-radio-group>

    <bs-typeahead [printType]="selectedOption"
                  [startIndex]="startIndex"
                  (updateBookList)="updateList($event)"></bs-typeahead>


    <div (scrolled)="updateDynamicCustomersScroll()"
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         [infiniteScrollUpDistance]="1.5"
         [scrollWindow]="false"
         class="available-books-list"
         id="booksListContainer"
         infiniteScroll>
      <mat-list id="booksList">
        <mat-list-item *ngFor="let book of availableBooks" (click)="openDialogInfo(book)">
          <div class="book-card">
            <div>
              <p><b>Title: </b> {{ book.volumeInfo.title }};</p>
            </div>
            <div>
              <p><b>Authors: </b> {{ book.volumeInfo.title }}</p>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
