@import "../../../assets/style/main";

.container {
  display: flex;
  justify-content: center;
  margin-top: 48px;

  .username-block {
    display: flex;
    flex-direction: column;
    width: 70%;

    label {
      padding-bottom: 12px;
    }

    input {
      margin-bottom: 16px;
      padding: 6px 12px;
      border-radius: 8px;
    }

    input, label, button {
      font-size: $font-size-normal;
    }
  }

  .is-web {
    width: 33%;
  }

}
